// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

hr.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px dashed rgba(0, 0, 0, 0.1);
}